body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
h3{
    font-size: 25px;
}
p{
    color: #7e7e7ab9;
}
.color-oring{
    color: orange;
}
.flexible-container{
  
    display: flex;
    margin-bottom: 150px;
   
}
.top-bg{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.big-dim{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
    
}
.flexible-container-aria{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
.half-width{

    width: 50%;
    padding: 2%;
    
}
.half-width img{
    width: 80%;
}
.button{
    background-image:linear-gradient(orange,red);
    color:white;
    border-radius: 5px;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
}
.margin{
    margin-left: 20px;
}
.box-sw{
   
   width: 40%;
  margin-left:5% ;
  margin-right: 5%;
  border-radius: 10px;
    box-shadow: 10px 10px 40px gray ;
   
    
}
#web-developer{
    border-image:linear-gradient(red,rgb(247, 75, 89));
    border-image-slice: 1;
    border-left: 10px solid;
    border-radius: 10px;
}
#web-developer2{
    border-image:linear-gradient(#4400ff,#4be3f7);
    border-image-slice: 1;
    border-left: 10px solid;
    border-radius: 10px;
}

